$navbar-height: 60px;

$white: #ffffff;
$black: #000000;
$purple: #662e9b;
$primary: #2b9348;
$yellow: #f9c80e;
$orange: #f86624;
$red: #ea3546;
$blue: #43bccd;
$default: #d1d5da;
$defaultBg: #2f363d;
$dark: #c9d1d9;
$darkBg: #0d1117;
$defaultTwoScroll: #e4d5f3;
$defaultMain: #00000090;
$colorYoutube: #FF0000;